.about-me {
    width: 90%;
    margin-left: 5%;
}

.about-me-title{
  text-align: center;
  color: $dark-teal;
  font-family: Rock Salt, sans-serif;
}

.about-me-photo {
  width: 45%;
  display: inline-block;
  img{
    width: 100%;
    height: auto;
  }
}

.about-me-description {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  margin-left: 5%;
  button{
    margin: 10px;
    padding: 20px;
    background-color: white;
    color: $steel;
    border: 1px solid $dark-teal;
    border-radius: 5px;
  }
  #contact{
    background: $purple;
    border: 1px solid $dark-purple;
    color: $white;
  }
  button:hover, #contact:hover{
    transition-duration: 0.5s;
    transition-timing-function: ease;
    background-color: $dark-teal;
    color: lighten($steel, 50);
  }
}

.about-me-contact-container {
  h3{
    margin: 0;
  }
  ul{
    display: inline-block;
    width: 35%;
    list-style-type: none;
  }
}

#linkedin, #github, #email {
  margin: 0 5px;
}

#linkedin:hover, #github:hover, #email:hover {
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

#linkedin:hover{
  color: $linkedin
}

#github:hover{
  color:  $github
}

#email:hover{
  color: $email
}

.emphasize{
  color: $purple;
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
}

.divider {
  box-shadow: 10px 10px 10px grey;
  width: 100%;
  height: 2px;
  margin-top: 2%;
}

.traits::after{
  clear: both;
  display: table;
  content: " ";
}

.traits-skills, .traits-experience {
  width: 40%;
  margin: 5%;
  h3{
    color: $dark-teal;
    font-family: Rock Salt, sans-serif;
  }
}

.traits-skills {
  float: left;
}

.traits-experience {
  float: right;
}

.traits-experience-container{
  p{
    margin-top: 0;
  }
}

.traits-decription {
  height: 250px;
  margin-bottom: 20%;
}

.skills-list {
  list-style: none;
  margin-top: 0
}

.skills-list li::before {
  content: "• ";
  color: $mustard-yellow;
  font-size: 150%;
  margin: 0;
  line-height: 1em;
}
.skills-list li {
  text-indent: -2em;
}
