.footer{
  background-image: linear-gradient(rgba($dark-purple, 0.2), rgba($dark-purple, 0.95)), url(/images/FooterBackground.jpg);
  padding-top: 5%;
  background-attachment: fixed;
  background-size: cover;
}

.footer-sub{
  background: rgba(black, 0.3);
  text-align: center;
  height: 100%;
  p{
    line-height: 5em;
  }
}

.footer-content {
  width: 90%;
  margin: 0 5%;
}

.footer-title{
  text-align: center;
  color: $mustard-yellow;
  font-family: Rock Salt, sans-serif;
}

.footer-description{
  display: block;
  width: 100%;
}
