.header {
  color: $white;
  text-align: center;
  background-image: linear-gradient(rgba($dark-purple, 0.7), rgba($dark-purple, 0.7)), url(/images/HeaderBackground.jpg);
  background-attachment: fixed;
  background-size: cover;
  font-family: Rock Salt, sans-serif;
  height: 100vh;
}

.header-content {
  padding: 30vh 0;
  height: 20vh;
}

.header-title {
  font-size: 9em;
  line-height: 1.4em;
  margin: 0;
}

.header-subtitle {
  font-size: 3em;
  line-height: 1em;
  margin: 0;
  padding-top: 5%;
  .subtitle-text:hover{
    color: $yellow;
    transition: 0.5s;
    cursor: pointer;
  }

}
