.services-title {
    text-align: center;
    color: $dark-teal;
    font-family: Rock Salt, sans-serif;
}

.services-container {
    width: 80%;
    margin: 2% auto 5% 10%;
}

.services-details{
  width: 33%;
  padding: 2%;
  display: inline-block;
}
