// Font Size
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// Color
$steel: #8395a7;
$dark-steel: #8395a7;
$yellow: #f6b93b;
$mustard-yellow: #e58e26;
$light-green: #b8e994;
$green: #78e08f;
$teal: #38ada9;
$dark-teal: #079992;
$purple: #1e3799;
$dark-purple: #0c2461;
$white: #ffffff;
$linkedin: #0077B5;
$github: #6e5494;
$email: #bd2c00;
